@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/OpenSans-Bold.woff");
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/OpenSans-Regular.woff");
}

@font-face {
  font-family: "PTSerifPro-Demi";
  src: url("../fonts/PTSerifPro-Demi.woff");
}

@font-face {
  font-family: "PTSerifPro-DemiItalic";
  src: url("../fonts/PTSerifPro-DemiItalic.woff");
}

@font-face {
  font-family: "PTSerifPro-Italic";
  src: url("../fonts/PTSerifPro-Italic.woff");
}

@font-face {
  font-family: "PTSerifPro";
  src: url("../fonts/PTSerifPro.woff");
}

@font-face {
  font-family: "TTLoveliesScript";
  src: url("../fonts/TTLoveliesScript.woff");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:focus {
  outline: none !important;
}

html {
  width: 100%;
  background: white;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

li {
  display: block;
  margin-left: 50px;
}

a {
  text-decoration: none;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header {
  background: -webkit-gradient(linear, left top, right top, from(#bac24a), to(#828c03));
  background: linear-gradient(to right, #bac24a, #828c03);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 90px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0 60px;
}

nav {
  width: 100%;
  min-height: 60px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 8px;
}

button {
  border: none;
  outline: 0;
}

button:hover {
  cursor: pointer;
}

form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-menu {
  width: 70%;
}

.nav-item {
  font-family: "PTSerifPro", sans-serif;
  font-size: 18px;
  color: #575757;
}

.nav-item:hover {
  color: #889019;
}

.nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.nav-items li:first-child {
  margin-left: 0;
}

.icons,
.main-logo,
.contacts {
  width: 33%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.icon {
  margin: 10px;
}

.search {
  display: none;
}

.main-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-logo-title {
  font-family: "TTLoveliesScript", sans-serif;
  font-style: italic;
  font-size: 30px;
  color: white;
  text-align: center;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 0 20px;
}

.phone {
  font-family: "PTSerifPro", sans-serif;
  font-size: 22px;
  color: white;
  text-align: center;
}

.email {
  padding: 0 20px;
}

.dropdown {
  position: relative;
  display: inline-block;
  border: 1px solid #b5b5b6;
  border-radius: 3px;
  padding: 4px;
  z-index: 3;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 29px;
  left: -1px;
  background-color: #f9f9f9;
  border-radius: 3px;
  width: 60px;
}

.dropbtn {
  background: url("../img/RussianFederation.png") no-repeat left center;
  background-size: 30px, 20px;
  padding: 10px 25px;
  cursor: pointer;
}

.dropbtn::after {
  background: #f9f9f9 url("../img/arrow-down-selector.png") no-repeat scroll
    center center;
  background-size: 10px, 7px;
  content: "";
  height: 16px;
  position: absolute;
  right: 5px;
  top: 7px;
  width: 16px;
}

.dropdown-content a:first-child {
  background: url("../img/RussianFederation.png") no-repeat left 5px center;
  background-size: 30px, 20px;
}

.dropdown-content a:last-child {
  background: url("../img/GreatBritain.png") no-repeat left 5px center;
  background-size: 30px, 20px;
}

.dropdown-content a {
  color: black;
  padding: 25px 0 0 0;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #b6b6b6;
  border-radius: 3px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.order-call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.order-call-title {
  font-family: "PTSerifPro", sans-serif;
  font-size: 16px;
  color: white;
  margin-left: 10px;
}

.slider-wrapper {
  position: relative;
}

.pattern {
  width: 100%;
  height: 18px;
  background: url(/img//pattern.png) repeat-x;
  position: absolute;
  top: -8px;
  z-index: 2;
}

.arrow-left,
.arrow-right {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 44px;
  width: 19px;
  display: block;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  z-index: 2;
}

.arrow-left {
  left: 40px;
  background-image: url("../img/arrow-left.png");
}
.arrow-right {
  right: 40px;
  background-image: url("../img/arrow-right.png");
}

.slider-item-image {
  height: 550px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.slider-title {
  font-family: "PTSerifPro", sans-serif;
  color: white;
  font-size: 66px;
  line-height: 60px;
  -webkit-transform: scale(1, 0.8);
  transform: scale(1, 0.8);
  font-weight: 900;
  position: absolute;
  top: 5%;
  left: 10%;
}

.transparent-line {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.6);
  box-sizing: border-box;
  position: absolute;
  bottom: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 2;
}

.order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 295px;
  height: 75px;
  background: -webkit-gradient(linear, left top, right top, from(#cdd198), to(#828c03));
  background: linear-gradient(to right, #cdd198, #828c03);
  border-radius: 50px;
  color: white;
  font-family: "PTSerifPro", sans-serif;
  font-size: 22px;
  text-align: center;
  margin: 25px 0;
}

.order-link {
  text-decoration: none;
  color: white;
}

.promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #f3eee5;
  padding: 0 60px;
}

.title {
  min-height: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 0;
}

.title-title {
  font-family: "PTSerifPro-Demi", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  margin: 0 6px;
  color: #575757;
  text-align: center;
}

.promo-tiles {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-flex-pack: distribute;
  -webkit-box-pack: center;
  justify-content: center;
}

.tiles-block {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.tile {
  width: 255px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: white;
  padding: 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  margin: 0 20px;
}

.tile-title {
  font-family: "PTSerifPro", sans-serif;
  font-size: 18px;
  color: #828c03;
  text-align: center;
  padding: 10px 20px;
}

.promo-text {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 14px;
  color: #575757;
  text-align: center;
  margin: 0 10px 10px;
}

.promo-link {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #ac1407;
  text-decoration: underline;
  margin-bottom: 50px;
}

.kind-of-promo {
  font-family: "PTSerifPro", sans-serif;
  font-size: 18px;
  color: #575757;
  margin-top: 20px;
  text-transform: uppercase;
  position: absolute;
  bottom: 20px;
}

.see-all-link {
  color: #575757;
}

.points-title {
  width: 180px;
  height: 50px;
  text-align: center;
  background-color: white;
  font-family: "PTSerifPro", sans-serif;
  font-size: 18px;
  color: #575757;
  padding: 10px 5px;
  border-radius: 25px;
  margin: 20px 0;
}

.about-restaurant {
  background: url("../img/hall-ps.jpg") no-repeat center center;
  background-size: cover;
  padding: 0 60px 65px;
}

.about-wrapper {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
  padding: 0 30px 40px;
  position: relative;
}

.p-text-about {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #575757;
  text-align: justify;
  margin-bottom: 10px;
}

.points {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.points-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.points-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 15px;
}

.points-icon {
  margin-bottom: -33px;
  z-index: 2;
}

.order-shift {
  position: absolute;
  bottom: -55px;
}

.about-chief {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #e6ebf2;
  padding: 0 60px;
}

.about-chief-text-layout {
  background: #fafbfc;
  padding: 0 30px;
}

.chief-image-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.about-bankets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  padding: 0 60px;
  background: #fefaf4;
}

.bankets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 30px;
  margin-bottom: 25px;
}

.bankets-text {
  margin-bottom: 10px;
}

.halls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.halls-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 15px 18px 0;
}

.halls-title {
  width: 180px;
  height: 50px;
  text-align: center;
  font-family: "PTSerifPro", sans-serif;
  background: #9aa500;
  color: white;
  font-size: 18px;
  line-height: 20px;
  padding: 5px 15px;
  border-radius: 45px;
  margin-bottom: 5px;
}

.SerifProItalic {
  font-family: "PTSerifPro-Italic", sans-serif;
  font-size: 18px;
}

.SerifProItalicBig {
  font-family: "PTSerifPro-Italic", sans-serif;
  font-size: 22px;

}

.banket-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.banket-menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 15px 18px 0;
}

.menu-title {
  width: 180px;
  height: 50px;
  text-align: center;
  font-family: "PTSerifPro", sans-serif;
  color: white;
  font-size: 18px;
  line-height: 20px;
  background: #c99652;
  border-radius: 45px;
  padding: 5px 15px;
}

.banket-cost-form {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 440px;
  background: #8e9901;
  padding: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nice-select {
  width: 100%;
  font-family: "PTSerifPro", sans-serif !important;
  font-size: 18px !important;
  color: #575757;
  border-radius: 2px !important;
  height: 48px !important;
  line-height: 44px !important;
  margin: 20px 10px 0 0;
}

.nice-select .list {
  display: block;
  min-width: 100%;
}

.count-of-peolple {
  margin: 20px 10px 0 0;
}

.count-of-peolple > input {
  height: 48px;
  border: none;
  border-radius: 2px;
  outline: 0;
  font-family: "PTSerifPro", sans-serif !important;
  font-size: 18px !important;
  color: #575757;
  padding-left: 18px;
}

.date {
  margin: 20px 10px 0 0;
}

.date > input {
  height: 48px;
  border: none;
  border-radius: 2px;
  outline: 0;
  font-family: "PTSerifPro", sans-serif !important;
  font-size: 18px !important;
  color: #575757;
  padding-left: 18px;
}

::-webkit-inner-spin-button {
  display: none;
}

.list {
  padding: 0 5px !important;
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
}

.list > li {
  padding: 0 18px !important;
  margin: 0 !important;
}

.select-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 165px;
  background: white;
  padding: 15px;
  margin-top: 15px;
  border: 1px solid transparent;
  border-radius: 2px;
}

.menu-types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 100%;
}

.menu-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 10px;
  font-family: "PTSerifPro-Demi", sans-serif;
  font-size: 16px;
  color: #575757;
}

.menu-type-title {
  font-family: "PTSerifPro-Demi", sans-serif;
  font-size: 16px;
  color: #575757;
}

.choose-menu {
  font-family: "PTSerifPro", sans-serif;
  font-size: 16px;
  color: #575757;
}

.custom-menu {
  font-family: "PTSerifPro", sans-serif;
  font-size: 16px;
  color: #575757;
}

.calc-button {
  margin: 0 auto;
}

.express-order {
  font-family: "PTSerifPro", sans-serif;
  font-size: 18px;
  color: white;
  text-decoration: underline;
}

.find-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #e6ebf2;
}

.how-find {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: url("../img/label-contacts.png") no-repeat center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 35px 25px;
  z-index: 2;
}

.how-find-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: "PTSerifPro", sans-serif;
  font-size: 18px;
  color: #575757;
  margin-top: 15px;
  text-align: center;
}

.contacts-data {
  margin-left: 10px;
}

.how-find-item-bold {
  font-family: "PTSerifPro-Demi", sans-serif;
  font-size: 20px;
}

.now-closed {
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 18px;
  color: #9c9c9c;
  text-transform: uppercase;
  margin-top: 15px;
}

.will-open {
  font-family: "PTSerifPro-Demi", sans-serif;
  font-size: 16px;
  color: #889019;
  text-align: center;
  margin-top: 5px;
}

.map {
  width: 100%;
  height: 425px;
  background: url("../img/map-ps.jpg") no-repeat center bottom;
  background-size: cover;
  margin-top: -43px;
}

@media (max-width: 1439.98px) {
  .points-item {
    margin: 0px 7px;
  }
}

@media (max-width: 1365.98px) {
  .slider-title {
    font-size: 60px;
  }

  .points {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
  }
  .halls-title {
    font-size: 18px;
  }
  .menu-title {
    font-size: 18px;
  }
  .bankets {
    padding-left: 0;
  }
  .banket-cost-form {
    height: auto;
  }
}

@media (max-width: 1199.98px) {
  header,
  .promo,
  .about-chief,
  .about-bankets {
    padding: 0 40px;
  }
  .about-restaurant {
    padding: 0 40px 65px;
  }
  .banket-cost-form {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .about-chief {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
  }
  .about-bankets {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .promo-tiles {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
  }
  .tiles-block {
    margin-bottom: 10px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .tile {
    margin: 0 10px;
  }
  .bankets {
    padding: 0;
  }
}

@media (max-width: 991.98px) {
  .slider-title {
    font-size: 54px;
  }
}

@media (max-width: 767.98px) {
}

@media (max-width: 575.98px) {
}
